* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #aa3cd8;
    max-width: 400px;
    margin: 160px auto;

}

h1 {
    margin-left: 20px;
}


label {
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
}

.nameError,.emailError,.passwordError{
    color: rgb(120, 10, 10);
    display: none;
}

button{
    border-radius: 20px;
    border-color: lavender;
    background-color: white;
    font-size: 22px;
    padding: 5px;
    width: 120px;
    margin-top: 20px;
    margin-left: 120px;
}

button:hover{
    background-color: skyblue;
    color: black;
    border-radius: 30px;    
}